.M-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.M-screen .M-div {
  background-color: #ffffff;
  height: 1026px;
  position: relative;
  width: 1440px;
}

.M-screen .frame {
  background-color: #000000;
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1309px;
}

.M-screen .user-name {
  color: #ffffff;
  font-family: 'Inika-Bold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 26px;
  left: 603px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
}

.M-screen .overlap {
  height: 963px;
  left: 249px;
  position: absolute;
  top: 63px;
  width: 1192px;
}

.M-screen .frame-2 {
  background-color: #ffffff;
  height: 409px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1191px;
}

.M-screen .element {
  color: transparent;
  font-family: 'Inika-Bold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 527px;
}

.M-screen .text-wrapper {
  color: #000000;
}

.M-screen .span {
  color: #989898;
}

.M-screen .rectangle {
  background-color: #d7dfff;
  border-radius: 36px;
  height: 258px;
  left: 23px;
  position: absolute;
  top: 102px;
  width: 366px;
}

.M-screen .rectangle-2 {
  background-color: #d7dfff;
  border-radius: 36px;
  height: 258px;
  left: 405px;
  position: absolute;
  top: 102px;
  width: 366px;
}

.M-screen .rectangle-3 {
  background-color: #d7dfff;
  border-radius: 36px;
  height: 258px;
  left: 787px;
  position: absolute;
  top: 102px;
  width: 366px;
}

.M-screen .frame-3 {
  background-color: #ffffff;
  height: 401px;
  left: 0;
  position: absolute;
  top: 399px;
  width: 1192px;
}

.M-screen .p {
  color: transparent;
  font-family: 'Inika-Bold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 527px;
}

.M-screen .rectangle-4 {
  background-color: #d7dfff;
  border-radius: 36px;
  height: 258px;
  left: 23px;
  position: absolute;
  top: 82px;
  width: 366px;
}

.M-screen .rectangle-5 {
  background-color: #d7dfff;
  border-radius: 36px;
  height: 258px;
  left: 405px;
  position: absolute;
  top: 82px;
  width: 366px;
}

.M-screen .rectangle-6 {
  background-color: #d7dfff;
  border-radius: 36px;
  height: 258px;
  left: 787px;
  position: absolute;
  top: 82px;
  width: 366px;
}

.M-screen .frame-4 {
  height: 182px;
  left: 0;
  position: absolute;
  top: 781px;
  width: 1192px;
}

.M-screen .zoner {
  color: transparent;
  font-family: 'Inika-Bold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  width: 527px;
}

.M-screen .overlap-group-wrapper {
  height: 117px;
  left: 10px;
  position: absolute;
  top: 49px;
  width: 339px;
}

.M-screen .overlap-group {
  background-color: #eeeeee;
  border-radius: 36px;
  height: 98px;
  left: 12px;
  position: relative;
  top: 10px;
  width: 316px;
}

.M-screen .text-wrapper-2 {
  color: #000000;
  font-family: 'Inika-Bold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 48px;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 37px;
  width: 230px;
}

.M-screen .overlap-wrapper {
  height: 117px;
  left: 408px;
  position: absolute;
  top: 49px;
  width: 339px;
}

.M-screen .div-wrapper {
  height: 117px;
  left: 804px;
  position: absolute;
  top: 49px;
  width: 339px;
}

.M-screen .h-ome-wrapper {
  background-color: #d6d6d6;
  height: 161px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 248px;
}

.M-screen .text-wrapper-3 {
  color: #000000;
  background-color: #d6d6d6;
  border: none;
  font-family: 'Inika-Bold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 71px;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 44px;
  width: 171px;
}

.M-screen .frame-5 {
  background-color: #d6d6d6;
  height: 161px;
  left: 0;
  position: absolute;
  top: 222px;
  width: 248px;
}

.M-screen .frame-6 {
  background-color: #d6d6d6;
  height: 160px;
  left: 0;
  position: absolute;
  top: 383px;
  width: 248px;
}

.M-screen .frame-7 {
  background-color: #d6d6d6;
  height: 161px;
  left: 0;
  position: absolute;
  top: 543px;
  width: 248px;
}

.M-screen .frame-8 {
  background-color: #d6d6d6;
  height: 161px;
  left: 0;
  position: absolute;
  top: 704px;
  width: 248px;
}

.M-screen .frame-9 {
  background-color: #d6d6d6;
  height: 161px;
  left: 0;
  position: absolute;
  top: 865px;
  width: 248px;
}

.M-screen .logout-wrapper {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  height: 61px;
  left: 1309px;
  position: absolute;
  top: -1px;
  width: 131px;
}

.M-screen .logout {
  color: #000000;
  background-color: white;
  border: none;
  font-family: 'Inika-Bold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 37px;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 112px;
}

.M-screen .rectangle,
.M-screen .rectangle-2,
.M-screen .rectangle-3,
.M-screen .rectangle-4,
.M-screen .rectangle-5,
.M-screen .rectangle-6 {
  display: none; /* 이 코드만 추가하여 상자를 아예 제거 */
}
